# Sección 1: Análisis de Datos

#### Import library

In [67]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

## Parte A: Análisis de un conjunto de datos

### DATA LOADING

In [68]:
df = pd.read_csv('customer_data.csv', sep = ',', na_values='#N/D')

In [69]:
df.head()

,CustomerID,Age,Location,TotalPurchases,LastPurchaseDate,LifetimeValue,Contacted,PurchaseProbability
0,1,62,West,1,2024-04-03 20:45:50.861423,1898.15,Yes,0.49
1,2,65,South,5,2023-07-28 20:45:50.861434,5172.70,Yes,0.98
2,3,18,South,4,2024-05-25 20:45:50.861437,5846.43,Yes,0.24
3,4,21,South,14,2024-02-04 20:45:50.861440,7896.67,No,0.37
4,5,21,North,12,2024-02-09 20:45:50.861442,6104.11,Yes,0.05

### BUSINESS ANALYTICS

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CustomerID           100 non-null    int64
 1   Age                  100 non-null    int64
 2   Location             100 non-null    object
 3   TotalPurchases       100 non-null    int64
 4   LastPurchaseDate     100 non-null    object
 5   LifetimeValue        100 non-null    float64
 6   Contacted            100 non-null    object
 7   PurchaseProbability  100 non-null    float64
dtypes: float64(2), int64(3), object(3)
memory usage: 6.4+ KB

### Perfil promedio  
- Calcular la edad promedio 
- ubicación más frecuente 
- frecuencia de compra promedio

In [71]:
age_average = df['Age'].mean() 
location_frequent = df['Location'].mode()[0]
frequency_average_purchase = df['TotalPurchases'].mean()

average_profile = {
    'Edad Promedio': age_average,
    'Ubicación Más Frecuente': location_frequent,
    'Frecuencia de Compra Promedio': frequency_average_purchase
}

average_profile

{'Edad Promedio': 41.57,
 'Ubicación Más Frecuente': 'East',
 'Frecuencia de Compra Promedio': 9.48}

### Identificar los 10 clientes con el mayor valor de vida (Lifetime Value)

In [72]:
top_10_lifetime_value = df.nlargest(10, 'LifetimeValue')[['CustomerID', 'LifetimeValue']]

top_10_lifetime_value

    CustomerID  LifetimeValue
19          20        9851.82
28          29        9808.93
16          17        9745.16
40          41        9533.42
38          39        9269.51
75          76        9259.12
96          97        9114.39
72          73        8931.29
44          45        8840.31
79          80        8838.82

#### explica cómo los seleccionaste?
Los 10 clientes con el valor de vida (Lifetime Value) más alto en el DataFrame df.
Los calcule con `el método nlargest()` ordena el DataFrame en función de los valores en la columna LifetimeValue y devuelve las primeras 10 filas con los valores más altos.

### Encuentra las tres variables que más influyen en la probabilidad de que un cliente haga una compra.

In [73]:
# Seleccionar solo las columnas numericas
df_numerical = df.select_dtypes(include=['number'])

In [77]:
correlations = df_numerical.corr()['PurchaseProbability'].drop('PurchaseProbability').abs()

# Seleccionar las tres variables con mayor correlación
influential_variables = correlations.nlargest(3)

influential_variables

Age               0.224970
LifetimeValue     0.219919
TotalPurchases    0.046410
Name: PurchaseProbability, dtype: float64

## Parte B: Generación de Estrategias de Marcación

### Describa una estrategia para priorizar las llamadas a clientes, incluyendo cualquier segmentación de clientes que considere relevante

- Segmentación por Valor de Vida `LifetimeValue`: Priorizar clientes con un alto valor de vida, ya que tienden a generar mayores ingresos a largo plazo.

- Segmentación por Probabilidad de Compra `PurchaseProbability`: Utilizar la probabilidad de compra como indicador para centrar los esfuerzos en clientes más propensos a realizar compras.

- Segmentación por Frecuencia de Compra `frequency_average_purchase`: Dirigirse a clientes que han realizado compras recientemente o con mayor frecuencia, ya que es más probable que estén en un estado activo de compra.

In [86]:
## Segmentación por Valor de Vida (Lifetime Value)
top_10_lifetime_value

    CustomerID  LifetimeValue
19          20        9851.82
28          29        9808.93
16          17        9745.16
40          41        9533.42
38          39        9269.51
75          76        9259.12
96          97        9114.39
72          73        8931.29
44          45        8840.31
79          80        8838.82

In [87]:
top_10_Purchase_Probability = df.nlargest(10, 'PurchaseProbability')  
## Segmentación por Probabilidad de Compra (PurchaseProbability)
top_10_Purchase_Probability

    CustomerID  PurchaseProbability
1            2                 0.98
72          73                 0.98
77          78                 0.98
23          24                 0.97
79          80                 0.97
88          89                 0.97
69          70                 0.96
28          29                 0.94
97          98                 0.94
16          17                 0.93

### ¿Qué métricas utilizarías para evaluar el éxito de esta estrategia de marcación?